body{
    font-family: 'Muli', sans-serif;
    background-color: #EAEAEA;
    color: #000091;
    padding: 20px 0;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

button{
    height: 28px;
    border-radius: 14px;
    font-size: 12px;
    font-weight: bold;
    color: #EAEAEA;
    background-color: #000091;
    border: 0;
    line-height: 1.5;
    padding: 4px 26px;
    margin-left: 10px;
}
button.inverse{
    background-color: #EAEAEA;
    color: #000091;
    border: 2px solid #000091;

}

.add-context-container, .add-simul-container{
    margin-top: 15px;
}

label.checkbox-label{
}
input[type=checkbox]{
    margin-right: 4px;
    vertical-align: middle;
}

a{
    color: #000091;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}

div.intro{
    text-align: center;
    font-size: 16px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
}
@media only screen and (max-width: 800px) {
    div.intro {
        font-size: 14px;
    }
}

div.menu{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
}


label{
    font-weight: bold;
}

.day-0{
    background-color: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.day-0 .chart-title,
.day-0 .table-container{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.day-0 .chart-desc{
    padding: 5px 5px 10px;
}

#country_details_table{
    padding-top: 10px;
    font-size: 13px;
    margin: 10px auto 10px;
    color: #444444;
}
#country_details_table tbody tr td:first-child,
#country_details_table thead tr th:first-child{
    padding-left: 80px;
}
#country_details_table tbody tr td:last-child,
#country_details_table thead tr th:last-child{
    text-align: right;
    padding-right: 80px;
}
#country_details_table tbody tr td:not(td:first-child):not(td:last-child),
#country_details_table thead tr th:not(td:first-child):not(td:last-child){
    text-align: left !important;
}

@media only screen and (max-width: 800px) {
    #country_details_table tbody tr td:first-child,
    #country_details_table thead tr th:first-child{
        padding-left: 10px;
    }
    #country_details_table tbody tr td:last-child,
    #country_details_table thead tr th:last-child{
        padding-right: 10px;
    }

}
#country_details_table tbody tr td:not(:last-child){
    text-align: left;
}
#country_details_table thead tr th{
    font-weight: bold;
}
#country_details_table thead tr th.color,
#country_details_table tbody tr td.color{
    width: 40px;
    text-align: center;
}
#country_details_table tbody tr td.color div.legend-elem{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin: auto;
}

#country_details_table tbody tr:nth-child(odd){
    background-color: #EAEAEA;
}
#country_details_table thead tr th,
#country_details_table tbody tr td{
    padding: 5px 10px;
}
#country_details_table thead tr th:not(:last-child):not(:first-child){
    padding-right: 150px;
}
#country_details_table thead tr th{
    padding-top: 10px;
    border-bottom: 2px solid #999999;
}

@media only screen and (max-width: 800px) {
    .day-0 .chart-desc{
        padding: 5px;
    }
    .day-0 .table-container{
        margin-left: 5px;
        margin-right: 5px;
    }
    #country_details_table{
        font-size: 10px;
        width: 100%;
        margin: 5px auto 5px;
    }
    #country_details_table thead tr th, #country_details_table tbody tr td {
        padding: unset;
    }
    #country_details_table thead tr th {
        padding-top: unset;
    }
    #country_details_table thead tr th:not(:last-child):not(:first-child),
    #country_details_table tbody tr td:not(:last-child):not(:first-child){
        padding: 5px;
        text-align: left;
    }
    #country_details_table tbody tr td.color div.legend-elem {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        margin: auto;
    }
}


#charts{
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 800px) {
    #charts {
        margin-left: 5px;
        margin-right: 5px;
    }
}

div.chart-outer{
    width: 100%;
    margin-top: 40px;
    display: none;
    position: relative;
}
div.chart-outer.dead{
    margin-top: 70px;
}

div.chart-title{
    text-align: center;
}
div.chart-title h2{
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    div.add-simul-container{
        display: none;
    }
    div.add-context-container{
        display: none;
    }
}

.chart-desc{
    color:#444444;
}

div.chart-inner{
    margin-top: -10px;
}
@media only screen and (max-height: 850px) {
    div.chart-inner {
        margin-top: 0;
    }
}
@media only screen and (max-width: 800px) {
    div.chart-title h2 {
        font-size: 16px;
    }
    .chart-desc{
        font-size: 12px;
    }
}

div.chart-container{
    height: 450px;
}
div.embed-container{
    position: absolute;
    top: 0;
    right: 0;
}
@media only screen and (max-width: 800px) {
    div.embed-container {
        display: none;
    }
}



#active_countries{
    padding: 0;
}
div.modal-body li{
    list-style: none;
}
div.modal-body li button.menu-button {
    background-color: #000091;
    color: #FFFFFF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 0.7;
    padding-left: 4.5px;
    padding-right: 5px;
    padding-top: 1px;
}

#menu_add_country input{
    border: 2px solid #000091;
    border-radius: 4px;
    color: #000091;
    background-color: #FFFFFF;
    font-size: 13px;
    width: 209px;
    padding: 3px;
}

#search_result {
    padding: 6px;
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#search_result li{
    padding-top: 5px;
}
#search_result li:not(:last-child){
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}




.amcharts-amexport-item {
    border: 1px solid #000091;
}





body.modal-open {
    overflow: hidden;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal .modal-content {
    position: relative;
    margin: auto auto;
    top: 10%;
    padding: 0;
    padding-bottom: 10px;
    border: 2px solid #000091;
    border-radius: 8px;
    width: 90%;
    max-width: 625px;
    box-shadow: 0 -4px 4px 0 rgba(0,0,0,.14), 0 -6px 2px -4px rgba(0,0,0,.2), 0 -2px 10px 0 rgba(0,0,0,.12);
    animation-name: animatetop;
    animation-duration: 0.4s;
    min-height: 50%;
    max-height: 80%;
    background-color: #EAEAEA;
}

.modal .modal-body{
    max-height: 100%;
    overflow: auto;
}

/* The Close Button */
.modal .close {
    border-radius: 100%;
    border: 1px solid white;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
    text-shadow: none;
    margin: 4px 0 0;
    cursor: pointer;
    line-height: 0.8;
}

.modal .modal-header .title{
    width: calc(100% - 30px);
    margin: 0;
    position: absolute;
}

/* Modal Header */
.modal .modal-header {
    display: block;
    padding: 0 10px 0;
    border-bottom: 2px solid #000091;
    background-color: #000091;
    color: white;
    height: 40px;
    min-height: 40px;
}
.modal .modal-header h3{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 35px;
    margin-bottom: 3px;
    margin-top: 7px;
    border-bottom: 0;
    padding-bottom: unset;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Modal Body */
.modal .modal-body {
    padding: 2px 10px 20px;
}

.modal .modal-body>form{
    padding-top: 15px;
}

.modal .modal-footer {
    display: block;
    padding: 7px 5px;
    min-height: 47px;
    background-color: #000091;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: right;
}


@media only screen and  (max-width: 799px) {
    .modal-header h3{
        margin-bottom: 2px;
    }
}

.modal .modal-footer button.apply-button{
    background-color: white;
    color: #000091;
}

@media only screen and (max-width: 800px) {
    .modal .close {
        line-height: 0.85;
    }
}




div.loader-container{
    display: none;
    z-index: 10000;
    background: rgba(255,255,255,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
}
div.loader {
    margin: auto;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    position: absolute;
    border: 16px solid #FFFFFF;
    border-top: 16px solid #000091;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
